 {%load staticfiles%}

 <!doctype html>
 <hmtl>
 	<head>
 		<title>Bike rental application</title>
 		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
 		<link type="text/css" rel="stylesheet" href={% static 'css/login_page.css' %} />
 	</head>
 	<body>
			<img src="../../../static/images/logo_cyclist.gif" class="logo_img" alt="A animated gif cyclist">
			<img src="../../../static/images/Top_banner_login_page.png" class="top_banner" alt="Bike rent logo">

			<button class="register" style=left:-180px;top:90px;>
                Login
			</button>

			<button class="register" style=left:90px;top:-10px>
                Register
			</button>

 	</body>
 </hmtl>