 {%load staticfiles%}

 <!doctype html>
 <hmtl>
 	<head>
 		<title>Bike rental application</title>
 		<link type="text/css" rel="stylesheet" href={% static 'css/login_page.css' %} />
 	</head>
 	<body>
		<img src="../../../static/images/logo_cyclist.gif" class="logo_img" alt="Bike rent logo">
 		
 			<button class="register" style=left:-180px;top:60px;>
                Register 
			</button>

			<button class="register" style=left:90px;top:-40px>
                Login
			</button>

 	</body>
 </hmtl>